*{
  margin: 0;
  padding: 0;
}

body{
  margin-top: 53.5px;
  margin-left: 150px;
  margin-right: 150px;

}

.display-flex {
  display: flex;
}   

/* Navigation Bar Styling */
.nav{
    justify-content:space-between;
    justify-items: center;
    align-items: center;
}

.nav-item img{
  max-height: 24px;
  max-width: 24px;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}

#nav-link-1{
  color: rgba(37, 36, 50, 1);
  text-decoration: none;
}

#nav-link-4{
  color: black;

}

/* Responsive Department */
@media screen and (max-width:576px) {
  .vanish-item{
    display: none;
    justify-content:space-between;
  }
  .nav{
    margin-top: 67px;
    margin-left: 16px;
    margin-right: 16px;
  }
  body{
     margin-left: 16px;
    margin-right: 16px;
  }

  
}



