*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin-top: 53.5px;
  margin-left: 150px;
  margin-right: 150px;
  overflow-x: hidden;

}

/* Color collection */
    .Black-1{
      color: black;
    }

    .light-black{
      color: rgba(0, 0, 0, 0.5);
    }
   
    .orange{
      color: rgba(233, 90, 8, 1);
    }


.display-flex {
  display: flex;
}  

/* Font Dept. */
.medium-font{
  font-size: 3rem;
}

.small-font{
  font-size: 1.1rem;
}

.inter{
  font-family: 'Inter', sans-serif
}


/* Navigation Bar Styling */
.nav{
    justify-content:space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 155.5px;
}

.nav-item img{
  max-height: 24px;
  max-width: 24px;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}

#nav-link-1{
  color: rgba(37, 36, 50, 1);
  text-decoration: none;
}

#nav-link-4{
  color: black;

}

/* Banner Department */
span{
  font-size: 3.5rem;
  
}
.ban-para-1{
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-family: 'inter', sans-serif;
}
.ban-para-2{
  font-size: 1.1rem;
  font-family: 'inter', sans-serif;
  
}

/* Plant Dept. */
.Heading-para{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.card{
  text-align: center;
  /* max-width: 205px; */
  
}

.btn-cart{
  width: 270px;
  height: 35px;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-size: .7rem;
  border: 0;
}
#lily,#price{
  margin-bottom: 6px;
  font-size: 1rem;
}
.plant-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr)
  gap:20px
  max-width: 1140px;
}

/* Responsive Department */
@media screen and (max-width:576px) {
  /* Navbar Dept. */
  .vanish-item{
    display: none;
    justify-content:space-between;
    align-items: center;
  }
  .nav{
    margin-top: 67px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 28px;
  }
  body{
     margin-left: 16px;
    margin-right: 16px;
  }

  /* Banner Dept. */
  .banner{
    display: flex;
    flex-direction: column-reverse;
    text-align: left
    ;
  }
  
  .ban-pic{
    align-items: right
  }

  }

  




